.productoverview {
  /* border: 1px solid black; */
  font-family: 'Barlow Condensed', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.nav {
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid black; */
  height: 100px;
  width: 70%;
}
.nav h1 {
  color: white;
  text-decoration: underline;
}
.logo {
  margin-right: auto;
  margin-left: 20px;
}
.formInput {
  color: white;
  background-color: grey;
  border: none;
  border-bottom: 2px solid white;
}
.formInput:focus {
  outline: none;
}
.formButton {
  margin-right: 20px;
}
.announcements {
  /* border: 1px solid black; */
  /* border-left: 1px solid black;
  border-right: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 70%;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.productinfo {
  border: 1px solid black;
  display: flex;
  width: 70%;
}
.productoptions {
  /* border: 1px solid black; */
  width: 60%;
}
.productdescription {
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  height: 200px;
  width: 70%;
}