.qa_section {
  display: flex;
  justify-content: center;
  width: 100%;
}
.qa_body {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 70%;
}
.container {
  display : flex;
	flex-direction: column;
	justify-content:space-around;
  align-items: center;
}

.askButton {
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  color: black;
  background-color: lightseagreen;
}

.askButton.hover {
  background-color: darkseagreen;
}