.qa_section {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width: 100%;
  background-color: aqua;
}
.qa_body {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  height: 500px;
  width: 70%;
  background-color: aquamarine;
}

.askButton {
  right: 45%;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  color: blue;
}