.answerlist {
  padding-left: 20px;
}
.showAnswers {
  position: static;
  width: fit-content;
  height: fit-content;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  opacity: 1;
  color: blue;
}
/* //last touches */