.answerItem {
  border: 1px solid rgb(230, 20, 20);
}
.yesHelpful {
  position: static;
  text-decoration: underline;
  width: fit-content;
  height: fit-content;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: blue;
}

.reportBtn {
  position: static;
  text-decoration: underline;
  width: fit-content;
  height: fit-content;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: blue;
}