.answerItem {
  border-bottom: 1px solid lightseagreen;
}

.imgContainer {

}

.thumbnail_img {
  width: auto;
  height: 50px;
}

.interactions {

}
.yesHelpful {
  position: static;
  text-decoration: underline;
  width: fit-content;
  height: fit-content;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  opacity: 1;
  color: blue;
}

.reportBtn {
  position: static;
  text-decoration: underline;
  width: fit-content;
  height: fit-content;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  opacity: 1;
  color: blue;
}