.formModalBackground {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s;
  overflow: auto;
  transition: all 0.3s linear;
}

.formModalContainer {
  background-color: #fefefe;
  border-radius: 20px;
  width: 40em;
  height: 80%;
  padding: 0 30px;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.formModalContainer::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

select {
  font-family: 'FontAwesome', 'Second Font name'
}

.form_component {
  padding: 0 30px;
}

.modal_button {
  /* align-items: 'center';
  justify-content: 'center'; */
  margin: 10px 0px 10px;
  border: 2px solid black;
  height: 3em;
  width: 5em;
  background-color: buttonface;
}

.modal_button:hover {
  background-color: darkgrey;
  cursor: pointer;
}

.review_body {
  width: 100%;
  /* height: 50%; */
}

.recommendation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.radio_input {
  margin: 0.4rem;
}

.thumbnail_img {
  border: 1px solid black;
  width: 50%;
  height: 50%;
}

.characteristics_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.characteristics_ratings {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: flex-end;
  /* align-items: center; */
}

.characteristic_name {
  font-weight: bold;
  padding-right: 2em;
}

table {
  background: lightgray;
}


td {
  text-align: center;
}


.star_rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* button {
  all: unset;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
} */

.button_settings {
  all: unset;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.on {
  color: black;
}

.off {
  color: lightgrey;
}


