.modalBackground {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  padding-top: 200px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s;
  overflow: auto;
  transition: all 0.3s linear;
}

.modalContainer {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border-radius: 4px;
  /* max-width: 450px;
  height: fit-content; */
  width: 400px;
  height: 60%;
}
.exitBtn {
  position: relative;
  justify-content: right;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  /* color: rgba(255, 0, 0, 0.399); */
  background-color: lightseagreen;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 1;
  padding: 5px 10px;
}

.body {
  width : 400px;
	height : 300px;
	/* margin : 0 auto;
	padding : 5px; */
  padding-top: 4em;
  padding-bottom: 4em;
	display : flex;
	flex-direction: column;
	justify-content:space-around;
}

.imgContainer {
  display: inline-block;
  margin: 0 5px;
}

.thumbnail_img {
  width: auto;
  height: 40px;
}

.footer {
  display : flex;
	flex-direction: column;
	justify-content:space-around;
  align-items: center;
  padding-top: 3em;
}

.submitBtn {
  position: relative;
  margin-top: 20px;
  width: fit-content;
  height: fit-content;
  cursor: pointer;

  background-color: lightseagreen;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 1;
  padding: 5px 10px;
}

.submitBtn:hover {
  background-color: darkseagreen;
}

.security {
  font-style: italic;
  /* font-size: small; */
}
