
.questionlist {
  display: flex;
  flex-direction: row;
  max-height: 350px;
  flex-flow: row wrap;
  margin: 5px;
  padding: 5px;
  overflow-y: auto;
}

.addQButton {
  position: relative;
  left: 45%;
  width: fit-content;
  height: fit-content;
  border: none;
  border-radius: 0%;
  background-color: lightseagreen;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 1;
  color: black;
}

.moreButton {
  right: 60%;
  width: fit-content;
  height: fit-content;
  border: none;
  border-radius: 0%;
  background-color: lightseagreen;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 1;
  color: black;
}

/* .moreButton .hover */