.questionEach {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding-bottom: 20px;
  margin-bottom: 5px;
  border-bottom: 2px solid black;

}

.interactions {
  position: relative;
  align-items: right;
}

.yesHelpful {
  position: static;
  text-decoration: underline;
  width: fit-content;
  height: fit-content;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: blue;
}

.addAnswerBtn {
  position: static;
  text-decoration: underline;
  width: fit-content;
  height: fit-content;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: blue;
}

.answerQBtn {
  position: static;
  text-decoration: underline;
  width: fit-content;
  height: fit-content;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: blue;
}