.rating {
  position: relative;
  background-color: white;
  display: inline-flex;
  justify-content: space-around;
}

.rating-overlay {
  background-color: darkturquoise;
  /* opacity: 100%; */
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  mix-blend-mode: overlay;
}

.star {
  color: lightgrey;
  display: flex;
  justify-content: left;
}