.related-products {
  border: 3px solid black;
  width: 70%;
  height: 300px;
}

.main{
  display: flex;
  align-items: center;
  position: relative;
}

.carousel{
  z-index: 1;
  overflow: hidden;
  width:100%;
  display: flex;
  align-items: center;
}

.carousel-wrapper{
  white-space: nowrap;
  position: relative;
  width: auto;
  display: flex;
  align-items: center;
}


.scroll-left{
  z-index: 2;
  position: absolute;
  left: 20px;
  width:30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-right{
  z-index: 3;
  position: absolute;
  right: 20px;
  width:30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  position: absolute;
  height: 60px;
  width: 50px;
  opacity: 0.3;
  border-radius: 10%;
}

.arrow-left{
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: solid lightgray;
  border-width: 0 6px 6px 0;
  transform: rotate(135deg);
  display: inline-block;
  position: absolute;
  left:8px
}

.arrow-right{
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: solid lightgray;
  border-width: 0 6px 6px 0;
  transform: rotate(-45deg);
  display: inline-block;
  position: absolute;
  right: 8px
}

