h1 {
  margin: 0 0
}

.breakdown_container {
  padding: 0.5em 0.5em;
}

.top_box {
  display: flex;
  gap: 1em;
  flex-direction: row;
  align-items: center;
}

.recommend_box {
  font-style: italic;
}

.proportions_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 2rem;
  gap: 0.5em;
  /* padding: 0.5em; */
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  font-weight: bold;
  width: 100%;
}

.proportions_box:hover {
  background-color: gold;
}

.ratings_bar {
  position: relative;
  border: 1px solid black;
  background-color: lightgrey;
  width: 60%;
  height: 80%;
}

.ratings_bar_overlay {
  background-color: green;
  position: absolute;
  height: 100%;
}

.filters {
  padding: 0.5em;
}

.filter_row {
  padding: 0.5em;
}