h1 {
  margin: 0 0
}

.top_box {
  display: flex;
  gap: 1em;
  flex-direction: row;
  align-items: top;
}

.recommend_box {
  font-style: italic;
}

.proportions_box {

}

.grey_bar {

}

.green_bar {

}
