.container {
  border: 3px solid black;
  width: 400px;
  height: 300px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border-radius: 10px;
  z-index: 100;
}

.head{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 10px 10px 0 10px;
}

ul{
  margin: 10px;
  padding-inline-start: 0;
  display: flex;
  list-style-type: none;
  height: 80%;
  justify-content: space-between ;
}

li{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

li:first-of-type{
   align-items: flex-start;
}

li:last-of-type{
  align-items: flex-end;
}


li>div:first-of-type{
  font-weight: bold;
  font-size: 1.2em;
}

.close-button:active {
  opacity: 0.5;
}