.buttons {
  /* border: 1px solid red; */
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 600;
}
.selectSize {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border: 1px solid black;
  width: 55%;
}
.selectQuantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border: 1px solid black;
  padding-left: 15px;
  width: 25%;
}
.addToBag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border: 1px solid black;
  padding-left: 10px;
  width: 70%;
}
.favorite {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 15%;
}
.quantityRow, .checkoutRow{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 20px;
  height: 50px;
}