.buttons {
  /* border: 1px solid red; */
  padding-bottom: 10px;
}
.selectSize {
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 10px;
  border: 1px solid black;
  width: 55%;
}
.selectQuantity {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border: 1px solid black;
  border-radius: 8%;
  padding-left: 15px;
  width: 25%;
}
.addToBag {
/*  */
  border: 1px solid black;
  border-radius: 0;
  padding: 0 10px;
  width: 70%;
}
.favorite {
/*  */
border: 1px solid black;
border-radius: 0;
padding: 0 10px;
width: 20%;
}
.quantityRow, .checkoutRow{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 20px;
  height: 50px;
}