html {
  scroll-behavior: smooth;
}
.productinfo {
  /* border: 1px solid black; */
  display: flex;
  width: 70%;
}
.starRatings {
  /* border: 1px solid red; */
  padding: 20px;
}
.starRatings span {
  display: inline-block;
  font-size: 12px;
  text-decoration: underline;
}
.goToReviews {
  text-decoration: underline;
  width: fit-content;
  height: fit-content;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  opacity: 1;
  color: lightseagreen;

}
.productTitle {
  /* border: 1px solid red; */
  line-height: 5px;
  padding: 0 20px;
}
.productTitle h3 {
  font-weight: 100;
  text-transform: uppercase;
}
.productPrice {
  padding: 10px 0
}
.productoptions {
  /* border: 1px solid black; */
  width: 60%;
}
.social {
  display: flex;
  justify-content: flex-start;
}
.social img{
  height: 50px;
  width: 50px;
  padding: 0 15px;
}
.reviews {
  color: black;
}