.products {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
}

h2.title {
  margin: 0;
}

.main {
  display: flex;
  align-items: center;
  position: relative;
}

.carousel {
  z-index: 1;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  height: 270px;
}

.carousel-wrapper {
  white-space: nowrap;
  position: relative;
  width: auto;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 2px;
}

.is-adding>:last-child:not(:first-child) {
  animation: 1s slidein forwards;

}

.backup {
  width:100%;
  text-align: center;

}

.scroll-left {
  z-index: 2;
  position: absolute;
  left: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}

.scroll-left:hover{
  opacity: 1
}

.scroll-right {
  z-index: 3;
  position: absolute;
  right: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}

.scroll-right:hover{
  opacity: 1
}

button {
  position: absolute;
  height: 60px;
  width: 50px;
  opacity: 0.3;
  border-radius: 10%;
}



.arrow-left {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: solid lightgray;
  border-width: 0 6px 6px 0;
  transform: rotate(135deg);
  display: inline-block;
  position: absolute;
  left: 8px
}

.arrow-right {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: solid lightgray;
  border-width: 0 6px 6px 0;
  transform: rotate(-45deg);
  display: inline-block;
  position: absolute;
  right: 8px
}

#id {
  background-color: antiquewhite;
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
