.imgModalBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  /* padding: 5%; */
  background-color: black;
  /* margin: 0%; */
}

.imgModalContainer {
  background-color: black;
  display: flex;
  justify-content: center;
  width: 80%;
  height: 80%;
  /* margin: 0%; */
}

.closeModalButton {
  position: absolute;
  width: 4%;
  height: 3%;
}