.imageGallery {
  background-color: black;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: nowrap;
  border-right: 1px solid black;
  height: 100%;
  width: 100%;
  position: relative;
}
.currentImage {
  position: absolute;
  max-width: 100%;
  z-index: -1;
}
.thumbnailRow {
  /* background-color: blue; */
  /* border-right: 1px solid black; */
  width: 100px;
  height: 500px;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.thumbnailRow::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
.thumbnail {
  cursor: pointer;
  margin: 25px auto;
  /* border: 1px solid red; */
  width: 50px;
  height: 50px;
}
.goToNext {
  color: white;
  cursor: pointer;
  font-size: 10px;
  /* border: 1px solid red; */
  text-align: center;
  position: absolute;
  bottom: 1%;
  left: 5.5%;
}
.arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
  width: 100%;
}
.leftArrow {
  color: white;
  cursor: pointer;
  padding-left: 12px;
  font-size: 30px;
}
.rightArrow {
  color: white;
  cursor: pointer;
  padding-right: 12px;
  font-size: 30px;
}
.lightbox {
  position: absolute;
  right: 5px;
  cursor: pointer;
  margin-top: 5px;
  margin-right: 5px;
  border: 2px dashed white;
  height: 15px;
  width: 18px;
}